# Backend
backend/node_modules
backend/*.log

# Frontend
frontend/node_modules
frontend/dist
frontend/.env.local
frontend/.env.*.local
frontend/dist-ssr
frontend/*.local
frontend/package-lock.json
frontend/package.json

# Sensitive / credentials
backend.pem
CLI_accessKeys.csv

# Docs (optional ignore)
COMPLETE_LEARNING_GUIDE.txt
QUICK_START.md
README.md

# Scripts
START.bat